body {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  flex-direction: column;
  padding: 1rem;
  height: 100vh;
}

.saldo {
  width: 60vw;
  max-width: 400px;
  height: 8rem;

  border: 0;
  border-radius: 1rem;

  background-color: #23c779 !important;

  color: white !important;
}

.saldo > .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saldo > div {
  border: 0;
  font-size: 0.75rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.adicionar {
  background-color: #d0f6df;

  font-size: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.adicionar:active {
  background-color: #d0f6df !important;
}

.titulo-extrato {
  min-width: 300px;
}

.extrato {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-width: 400px;

  overflow-y: scroll;
}

@media (min-width: 800px) {
  .extrato {
    width: 60vw;
  }
}

.extrato > li {
  border: 1px solid rgb(245, 245, 245);
  border-color: rgb(195, 195, 195) !important;
  border-top-width: 1px !important;
  border-radius: 0.5rem !important;
  padding: 1rem;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  min-width: 300px;
  color: #202949;
}

.gasto {
  color: #b94a4a;
}

.adicionarTransacao {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;

  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
}

.btn-light-success {
  background-color: #23c779;
  color: white;
  font-weight: bold;
}

.btn-light-success:hover {
  background-color: #1dae68;
  color: white;
}

.btn-light-success:active {
  background-color: #1dae68 !important;
  color: white !important;
}

.btn-bigger-success {
  background-color: #23c779;
  color: white;
  font-weight: bold;
  border-radius: 40px;
  font-size: 28px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.btn-bigger-success:hover {
  background-color: #1dae68;
  color: white;
}

.btn-bigger-success:active {
  background-color: #1dae68 !important;
  color: white !important;
}

.first-page {
  background-color: #1f1f1f;
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.container-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 50%;
  align-items: start;
  height: calc(100vh - 4rem);
}

.container-title > .title {
  font-size: 42px;
  font-weight: lighter;
  line-height: normal;
  max-width: 502px;
}

.container-title > .subtitle {
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
  max-width: 502px;
  padding-right: 50px;
}

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration > img {
  width: 50vw;
}

@media (min-width: 1380px) {
  .first-page {
    padding-left: 10rem;
    padding-right: 20rem;
  }
}

@media (min-width: 800px) {
  .illustration > img {
    max-width: 500px;
  }
}

.platforms {
  display: flex;
  gap: 1rem;
}

.second-page {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-top: 2rem;
}

.container-second {
  display: flex;
  flex-direction: column;

  height: fit-content;
  width: 50%;
  padding-top: 2rem;
  gap: 4rem;
  align-items: start;
}

.container-second > .title {
  font-size: 42px;
  font-weight: 100;
  line-height: normal;
}

.container-readmore {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}

.container-second > .container-readmore > .subtitle {
  font-size: 20px;
  font-weight: 3000;
  line-height: 38px;
  max-width: 600px;
}

.container-device {
  display: flex;
  align-items: center;
}

.btn-bigger-lighter-success {
  background-color: #23c779;
  color: white;
  font-weight: bold;
  border-radius: 23px;
  font-size: 20px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.btn-bigger-lighter-success:hover {
  background-color: #1dae68;
  color: white;
}

.btn-bigger-lighter-success:active {
  background-color: #1dae68 !important;
  color: white !important;
}

@media (max-width: 800px) {
  .first-page {
    gap: normal;
  }

  .illustration > img {
    display: none;
  }

  .container-title {
    width: 80%;
    align-items: center;
  }

  .container-title > .title {
    font-size: 1.5rem;
  }

  .container-title > .subtitle {
    line-height: 30px;
    padding: 0;
  }

  .btn-bigger-success {
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .second-page {
    padding-bottom: 2rem;
    gap: normal;
  }

  .container-second {
    width: 100%;
    gap: 2rem;
    align-items: center;
  }

  .container-second > .title {
    font-size: 1.5rem;
  }

  .container-readmore {
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .container-second > .container-readmore > .subtitle {
    font-size: 1rem;
    font-weight: normal;
    line-height: 30px;
    max-width: 600px;
    padding: 0;
  }

  .btn-bigger-lighter-success {
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container-device {
    display: none;
  }
}
